[project]
name = "dithering"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "matplotlib>=3.10.8",
    "pillow>=12.1.0",
    "seaborn>=0.13.2",
]
